/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* Header */
header {
    align-items: center;
    display: flex;
    background: #bcc8ea;
    color: #f9fafa;
    padding: 10px 0;
    justify-content: space-between;
}

#oml{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #00181d;
    display: inline-block;
    vertical-align:text-top;
    margin: 0;
    
}
.Asidess {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    
}

#logo{
    vertical-align: top;
    margin-right: 10px;
}

.toprow, .bottomrow {
    display: flex;
    justify-content: space-between;
}

aside {
    width: 100%; /* Ajusta el ancho según necesites */
    background-color: #bcc8ea;
    padding: 20px;
    color: #00181d;
    justify-content: space-between;
}

#left {
    border-bottom-right-radius: 50px;
}

#right {
    border-top-left-radius: 50px;
}

.button-container {
    margin-right: 20px;
    display: flex;
    gap: 10px; /* Espacio entre los botones */
}
button {
    padding: 10px 20px;
    background-color: #556BE1;
    color: #f9fafa;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Main */
main {
    padding: 20px;
    text-align: center;
}

.intro {
    max-width: 800px;
    margin: 0 auto;
}

.intro-text h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.intro-text p {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #556BE1;
}

.intro-text  {
    justify-content: space-between;
}

.intro-images {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.intro-images img {
    width: 300px;
    height: auto;
    border-radius: 10px;
}

/* Footer */
footer {
    background: #bcc8ea;
    padding: 20px 0;
    text-align: center;
}

footer ul {
    list-style: none;
}

footer ul li {
    display: inline;
    margin: 0 10px;
}

footer ul li a {
    text-decoration: none;
    color: #007bff;
}

footer ul li a:hover {
    text-decoration: underline;
}
